<p>
  <b>Name:</b>
  <%=h @ticket_seller.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @ticket_seller.address_id %>
</p>

<p>
  <b>Phone:</b>
  <%=h @ticket_seller.phone %>
</p>

<p>
  <b>Web:</b>
  <%=h @ticket_seller.web %>
</p>

<p>
  <b>Email:</b>
  <%=h @ticket_seller.email %>
</p>


<%= link_to 'Edit', edit_ticket_seller_path(@ticket_seller) %> |
<%= link_to 'Back', ticket_sellers_path %>
