<p>
  <b>Name:</b>
  <%=h @artist.name %>
</p>

<p>
  <b>Country:</b>
  <%=h @artist.country %>
</p>

<p>
  <b>Web:</b>
  <%=h @artist.web %>
</p>

<p>
  <b>Mp3:</b>
  <%=h @artist.mp3 %>
</p>

<p>
  <b>Tor:</b>
  <%=h @artist.tor %>
</p>

<p>
  <b><%=h @artist.discog_title %></b>
  <pre><%=h @artist.discog_detail %></pre>
</p>


<%= link_to 'Edit', edit_admin_artist_path(@artist) %> |
<%= link_to 'Back', admin_artists_path %>
