<h1>Listing offerings</h1>

<table>
  <tr>
    <th>Ticket seller</th>
    <th>Gig</th>
  </tr>

<% for offering in @offerings %>
  <tr>
    <td><%=h offering.ticket_seller_id %></td>
    <td><%=h offering.gig_id %></td>
    <td><%= link_to 'Show', admin_offering_path(offering) %></td>
    <td><%= link_to 'Edit', edit_admin_offering_path(offering) %></td>
    <td><%= link_to 'Destroy', admin_offering_path(offering), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New offering', new_admin_offering_path %>
