<p>
  <b>Venue:</b>
  <%= link_to h(@gig.venue.name), [:admin, @gig.venue] %>
</p>

<p>
  <b>Artist:</b>
  <%= link_to h(@gig.artist.name), [:admin, @gig.artist] %>
</p>

<p>
  <b>Date:</b>
  <%=h @gig.date %>
</p>

<p>
  <b>Price:</b>
  <%=h @gig.price %>
</p>

<p>
  <b>Moles:</b>
  <%=h @gig.moles %>
</p>

<p>
  <b>Door open:</b>
  <%=h @gig.door_open %>
</p>

<p>
  <b>Sold out:</b>
  <%=h @gig.sold_out %>
</p>

<p>
  <b>Ticket details:</b>
  <pre><%=h @gig.tickets %></pre>
</p>


<%= link_to 'Edit', edit_admin_gig_path(@gig) %> |
<%= link_to 'Back', admin_gigs_path %>
