<h1>Editing gig</h1>

<% form_for(@gig) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :venue_id %><br />
    <%= f.text_field :venue_id %>
  </p>
  <p>
    <%= f.label :artist_id %><br />
    <%= f.text_field :artist_id %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :door_open %><br />
    <%= f.datetime_select :door_open %>
  </p>
  <p>
    <%= f.label :sold_out %><br />
    <%= f.check_box :sold_out %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @gig %> |
<%= link_to 'Back', gigs_path %>
