<table>
<% current_date = nil %>
<% for gig in @gigs %>
  <% if gig.date != current_date %>
  <tr><td><%= gig.date.strftime("%A %d %b %Y") %></td></tr>
  <% end %>
  <tr class="gig_row">
    <td>
		<span class="artist"><%= link_to h(gig.artist.name), gig.artist %></span>
		<%= link_to h(gig.venue.name), gig.venue %>
		<%= link_to '', gig.artist.mp3, :target => 'listen' %>
		<%= link_to image_tag('/images/down.gif', :border => 0), gig.artist.tor %><br/>
		
		<span class="details">$<%=h sprintf("%0.2f", gig.price) %>
		Doors <%=h gig.door_open.strftime('%I:%M %p') %>
		<%= '<span class="sold_out">sold out</span>' if gig.sold_out %></span>
    </td>

  </tr>
<% end %>
</table>

<br />
<script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script>