<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Venues: <%= controller.action_name %></title>
  <%# stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'screen' %>
  <!--[if IE]>
  <link type="text/css"  rel="stylesheet" href="css/ie.css" />         
  <![endif]-->
  <%= javascript_include_tag 'swfobject' %>
  <%= javascript_include_tag 'jquery-1.3.1.min' %>
  <%= javascript_include_tag 'common' %>
  <%#= javascript_include_tag 'hype_functions' %>
  <%= javascript_include_tag 'jw_functions' %>

</head>
<body>
<div id="page">

	<div id="header">
  		<h1 id="header_title">Heavy Heard</h1>		
  	<% if !current_user %>
			<%= link_to "", new_user_session_path, :class => 'login' %>
		<% else %>
			<%= link_to "", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?", :class => 'login' %>
		<% end %>
		<h2>who we're listening to. when they're touring.</h2>



  		<div id="header_nav">
  			<div id="nav_wrap">
  			<span><%= link_to_unless_current 'Gigs', gigs_url %></span>
  			<span class="nav_spacer">/</span>
  			<span><%= link_to_unless_current 'Artists', artists_url %></span>
  			</div>
  		</div>

  	</div>
  	
  	
	<!-- <% if !current_user %>
	  <%= link_to "Register", new_account_path %> |
	  <%= link_to "Log In", new_user_session_path %> |
	<% else %>
	  <%= link_to "My Account", account_path %> |
	  <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
	<% end %> -->
<p style="color: green"><%= flash[:notice] %></p>
<%= navlinks if current_user %>
<%= yield  %>
</div>
</body>
</html>
